{% extends "base.html" %}
{% load static %}

{% block title %}Delete recipe {{ object.title }}{% endblock %}

{% block content %}
<section class="create-recipe-section">
    <div class="container">
        <form method="post" class="p-4 form">
            <h1 class="text-center">Confirm Recipe Deletion</h1>
            {% csrf_token %}
            
            <div class="form-group text-center">
                <p>Are you sure you want to delete "{{ object.title }}"?</p>
            </div>
            
            <div class="text-center">
                <button id="delete" type="submit" class="btn btn-primary w-25">Confirm</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}