{% extends "base.html" %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block content %}
<section class="recipe-section">
<div class="container">
    <div class="recipe-info mt-3 p-1">
        <div class="recipe-img">
            <img src="{{ recipe.image.url }}" alt="Image of {{ recipe.title }}" class="recipe-pic">
        </div>
        <div class="recipe-detail">
            <h1 class="text-center">{{ recipe.title }}</h1>
            <p class="text-center">Posted by {{ recipe.user }} on {{ recipe.post_date }}</p>
            <hr>
            <h5>{{ recipe.description }}</h5>
            <hr>
            <p><strong>Category: </strong>{{ recipe.category|title }}</p>
            <p><strong>Vegan: </strong>{{ recipe.vegan|title }}</p>
        </div>
    </div>
    <div class="recipe-container">
        <div class="ingredients p-3">
            <h2>Ingredients</h2>
            <p>{{ recipe.ingredients|safe }}</p>
        </div>
        
        <div class="instructions p-3">
            <h2>Instructions</h2>
            <p>{{ recipe.instructions|safe }}</p>
        </div>
    </div>
    {% if request.user == recipe.user %}
    <div class="text-center">
        <a href="{% url 'edit_recipe' recipe.pk %}" class="btn btn-primary w-25">Edit</a>
        <a href="{% url 'delete_recipe' recipe.pk %}" class="btn btn-primary w-25">Delete</a>
    </div>
    {% endif %}
</div>
</section>
{% endblock %}
