{% extends "base.html" %}
{% load static %}

{% block title %}Profile - {{profile.user.username}}{% endblock %}

{% block content %}
<div class="container p-4">
    <div class="profile">
        <div class="info">
            <div class="profile-img text-center">
                {% if profile.image.url is not none %}
                <img src="{{ profile.image.url }}" alt="{{ profile.user.username }}'s profile image">
                {% else %}
                <img src="{% static '/icons/profile-icon.svg' %}" alt="Image not found icon">
                {% endif %}
            </div>
            <h1>{{ profile.user.username }}</h1>
            <p><strong>Joined: </strong>{{ profile.user.date_joined|date:'d M Y' }}</p>
            <p><strong>Recipes: </strong>{{ profile.user.recipe_owner.count }}</p>
            {% if profile.bio is not none %}
            {{ profile.bio|safe }}
            {% endif %}
        </div>
        <div class="profile-recipes">
            <h2 class="text-center pb-4">Latest Recipes</h2>
            {% for recipe in profile.user.recipe_owner.all %}
            <a href="{% url 'recipe_view' recipe.id %}">
                <h3>{{ recipe.title }}</h3>
            </a>
            <p>{{ recipe.post_date }}</p>
            <hr class="recipe-hr">
            {% endfor %}
        </div>
    </div>
{% endblock %}