@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

:root {
    /* Fonts */
    --title: 'EB Garamond', serif;
    --main-font: 'Roboto', serif;

    /* Colors */
    --background: #3f006a0f;
    --blue: #0d6efd;
    --black: #000;
    --off-white: #f6f6f6;
    --white: #fff;
    --orange: #ffbf50;
    --yellowish: #ffe86f;

    /* Utils */
    --smal-box-shadow: 5px -4px 10px 0 #000;
    --navbar-box-shadow: 8px -2px 8px 0 #000;
    --border: 1px solid #00000030;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
    background-image: url(/static/images/bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title);
}

main {
    flex: 1 0 auto;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 232, 111, 0.6026785714285714) 100%);
}

/* Footer */
footer {
    flex-shrink: 0;
    background-color: var(--off-white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: var(--border);
}

.social-icon {
    height: 2rem;
    margin: 1rem;
}

/* Header */
#navbar-top {
    background: rgb(255, 232, 111);
    background: linear-gradient(280deg, rgba(255, 232, 111, 0.41780462184873945) 0%, rgba(0, 0, 0, 1) 50%, rgba(255, 232, 111, 0.3309698879551821) 100%);
    box-shadow: var(--navbar-box-shadow);
    position: relative;
    z-index: 1;
}

.navbar {
    background: rgb(246, 246, 246);
    background: linear-gradient(280deg, rgba(246, 246, 246, 0.19931722689075626) 0%, rgba(246, 246, 246, 0.2049194677871149) 100%);
    position: relative;
    z-index: 2;
}

a.nav-link {
    color: var(--black);
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.logo {
    width: 250px;
    height: auto;
    max-width: 100%;
}

.active {
    border-bottom: 2px solid var(--black);
    font-weight: 500;
}


.profile-pic {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
    border: black 1px solid;
}



/* Form */

.form {
    width: 100%;
    margin: 3% auto;
    box-shadow: var(--smal-box-shadow);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    color: var(--yellowish);
}

form label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

/* Recipes */

.recipe-section {
    margin-top: 15px box-shadow: var(--smal-box-shadow);
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    color: var(--yellowish);
}

.card {
    height: 90%;
    margin-top: 1rem;
}

.recipes {
    text-decoration: none;
    color: var(--black);
}

.recipes:hover {
    cursor: pointer;
}

.recipe-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recipe-container {
    display: flex;
    flex-direction: column;
}

.ingredients,
.instructions,
.recipe-detail {
    width: 100%;
}

.recipe-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-pic {
    width: 100%;
    height: auto;
}

.recipe-cont {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

a.img-container {
    position: relative;
    text-align: center;
    color: var(--white);
    margin: 2%;
    overflow: hidden;
    text-decoration: none;
    border: 1px solid var(--border);
    box-shadow: var(--smal-box-shadow);
}

a.img-container:hover {
    color: var(--orange);
}

.img-container img {
    width: 100%;
    height: auto;
}

.centered {
    width: 100%;
    background-color: #000000c9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.browse-cont {
    margin-top: 15px box-shadow: var(--smal-box-shadow);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    color: var(--yellowish)
}

.browse-container {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 60px;
    margin-bottom: 65px;
    padding-bottom: 20px;

}

.browse-cont a {
    color: var(--off-white)
}

.btn-group {
    border-bottom: 2px solid var(--yellowish);
}

/* Pagination */

.pagination {
    --bs-pagination-active-border-color: var(--black)
}

.pagination .page-link {
    color: var(--black);
    background-color: var(--off-white);
}

.pagination .page-item.active .page-link {
    background-color: var(--yellowish);
}

/*Recipe form */

.div_id_category div {
    display: flex;
    flex-direction: row;
}

.form-check {
    display: flex;
    justify-content: center;
    gap: 10px;
}


/*Cards*/

.upload-container {
    background-color: rgba(0, 0, 0, 0.6);
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 15px;
    margin-bottom: 65px;
    padding-bottom: 20px;

}

.card-title-container {
    text-align: center;
}

.card-title-container h3 {
    color: var(--yellowish);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 300px;
    margin: 10px;
}

.card_link {
    text-decoration: none;
}

.card__like {
    width: 18px;
}

.card__img {
    width: 100%;
}


.card__info-hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* Adjusted alignment to flex-start */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.9);
    transition: opacity 0.2s ease-out;
}

.card__img--hover {
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
}

.cards h3 {
    color: var(--off-white)
}

.card:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.10, 1.10);
}

.card__info {
    z-index: 2;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px 24px;
    transition: background-color 0.2s ease-out;
}

.card__info h3 {
    color: var(--black)
}

.card__category {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #868686;
}

.card__title {
    margin-top: 5px;
    text-align: center;
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
}

.card__by {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.card__author {
    font-weight: 600;
    text-decoration: none;
    color: #AD7D52;
}

.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.card:hover .card__info {
    background-color: transparent;
    position: relative;
}

.card:hover .card__info-hover {
    opacity: 1;
}

.card__like {
    margin-top: 20px;
}

.card-desc {
    color: var(--black);
    text-align: center;
}

.card__info-hover p {
    margin-top: 15px;
    padding: 20px;
    text-align: center;
}

/* Profiles */

.profile-img {
    width: 280px;
    margin: 0 auto;
}

.profile-img img {
    border-radius: 8px;
    width: 100%;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info {
    width: 100%;
    text-align: center;
}

.profile-recipes {
    width: 100%;
}


@media screen and (min-width:40em) {
    .form {
        width: 50%;
    }

    .recipe-cont {
        flex-direction: row;
    }

    .img-container {
        flex-direction: row;
        width: 29%;
    }
}

@media screen and (min-width: 62.5em) {
    .main-title {
        width: 50%;
    }

    .recipe-info {
        flex-direction: row;
        border: 1px solid var(--yellowish);
    }

    .recipe-img {
        width: 40%;
        margin: 0 auto;
    }

    .recipe-detail {
        width: 60%;
        padding: 2rem;
    }

    .recipe-container {
        flex-direction: row;
    }

    .ingredients {
        width: 33.33%;
    }

    .instructions {
        width: 66.66%;
    }

    .profile {
        flex-direction: row;
    }

    .info {
        width: 30%;
    }

    .profile-recipes {
        width: 70%;
        padding: 1.5rem 3rem;
    }

    .profile-recipes a {
        text-decoration: none;
    }
}

