{% load static %}

<header>
    {% with request.resolver_match.url_name as url_name %}
    <nav id="navbar-top" class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <!-- Logo -->
            <a class="navbar-brand" href="{% url 'home' %}" target="_self" rel="noopener" aria-label="Back to front page">
                <img src="{% static 'icons/logo.svg' %}" alt="Recipe Republic Logo" class="logo">
            </a>
            <!--Nav bar items-->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto mb-2">
                    {% if request.user.is_authenticated %}

                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'profile' %}active{% endif %}"
                            href="{% url 'profile' request.user.id %}">{{ request.user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'accounts_logout' %}active{% endif %}"
                            href="/accounts/logout/">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'accounts_signup' %}active{% endif %}"
                            href="/accounts/signup/">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'accounts_login' %}active{% endif %}"
                            href="/accounts/login/">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!--Lower Nav Bar-->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <!--Nav bar items-->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto" style="display: flex; justify-content: center;">
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'home' %}active{% endif %}" aria-current="page"
                            href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'new_recipe' %}active{% endif %}"
                            href="{% url 'new_recipe' %}">Create Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'recipe_list' %}active{% endif %}"
                            href="{% url 'recipe_list' %}">Browse Recipes</a>
                    </li>
                </ul>
            </div>
            <div>

            </div>
        </div>
        </div>
    </nav>
    {% endwith %}
</header>